<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953688207810-kdcmivnn4kvdn603kru3a574doec8oi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953688207810-kdcmivnn4kvdn603kru3a574doec8oi8</string>
	<key>API_KEY</key>
	<string>AIzaSyAppCnkI1-9zQ3v9ALinT3vduWPjxOKm7s</string>
	<key>GCM_SENDER_ID</key>
	<string>953688207810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.ShopCar</string>
	<key>PROJECT_ID</key>
	<string>doanios-f25c6</string>
	<key>STORAGE_BUCKET</key>
	<string>doanios-f25c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:953688207810:ios:684c6e21feadeca47b265b</string>
	<key>DATABASE_URL</key>
	<string>https://doanios-f25c6.firebaseio.com</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please alow access to upload photos.</string>
</dict>
</plist>
